<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Register Form</title>
	<link rel="stylesheet" th:href="@{/resources/static/client/css/bootstrap.min.css}">
	<style>
		.w3-display-bottomright {
			position: absolute;
			right: 0;
			bottom: 0
		}

		.w3-padding {
			padding: 8px 16px!important
		}
	</style>
</head>
<body>
	<div class="container-fruid m-5 row">
		<div class="col-sm"></div>
		<div class="col-sm">
			<h1>REGISTER FORM</h1>
			<form th:action="@{/web/register}" th:object="${user}" method="post">
				<div class="form-group">
					<label for="fullname">Full name: </label>
					<input type="text" class="form-control" th:field="*{fullName}">
				</div>
				<span class="alert alert-danger" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
				<div class="form-group">
					<label for="email">Email: </label>
					<input type="email" class="form-control" th:field="*{email}">
				</div>
				<span class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				<div class="form-group">
					<label for="phone_number">Phone number: </label>
					<input type="tel" class="form-control" th:field="*{phoneNumber}">
				</div>
				<span class="alert alert-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
				<div class="form-group">
					<label for="password">Password: </label>
					<input type="password" class="form-control" th:field="*{password}">
				</div>
				<span class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				<div class="form-group">
					<label for="re_password">Re-password: </label>
					<input type="password" class="form-control" id="re_password" name="re_password">
				</div>
				<span th:if="${matchingPasswordError}" class="alert alert-danger" th:text="${matchingPasswordError}"></span>
				<div class="form-group">
					<input class="btn btn-success" type="submit" value="Register">
				</div>
			</form>
		</div>
		<div class="col-sm">
			<div th:if="${serviceError}" th:text="${serviceError}" class="w3-padding w3-display-bottomright alert alert-danger mt-2"></div>
		</div>
	</div>
</body>
</html>